<a href="https://colab.research.google.com/github/DevBansal08/College-Python/blob/main/Experiment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x= 9
y = 7
print("Sum:", x+y)
print("Difference:", x-y)
print("Product:", x*y)
print("Division:", x/y)

Sum: 16
Difference: 2
Product: 63
Division: 1.2857142857142858

In [2]:
rad = int(input("Enter Radius of circle"))
area = 3.14*(rad*rad)
print(area)

Enter Radius of circle12
452.16

In [3]:
x =  4
y = 3
result = (x+y)*(x+y)
print(result)

49

In [7]:
import math
a = float(input("Enter Perpendicular"))
b = float(input("Enter Base"))
c = math.sqrt(a**2 + b**2)
print("Hypotenuse is", c)

Enter Perpendicular3
Enter Base4
Hypotenuse is 5.0

In [8]:
P = float(input("Enter the principal amount: "))
R = float(input("Enter the rate of interest (in %): "))
T = float(input("Enter the time (in years): "))
SI = (P * R * T) / 100
print("The Simple Interest is:", SI)

Enter the principal amount: 100
Enter the rate of interest (in %): 2
Enter the time (in years): 2
The Simple Interest is: 4.0

In [10]:
import math
a = float(input("Enter the length of side a: "))
b = float(input("Enter the length of side b: "))
c = float(input("Enter the length of side c: "))
s = (a + b + c) / 2

area = math.sqrt(s * (s - a) * (s - b) * (s - c))

print("The area of the triangle is:", area)

Enter the length of side a: 3
Enter the length of side b: 4
Enter the length of side c: 5
The area of the triangle is: 6.0

In [11]:
total_seconds = int(input("Enter the total number of seconds: "))
hours = total_seconds // 3600
remaining_seconds = total_seconds % 3600
minutes = remaining_seconds // 60
seconds = remaining_seconds % 60
print(f"{total_seconds} seconds is equal to:")
print(f"{hours} hours, {minutes} minutes, and {seconds} seconds.")

Enter the total number of seconds: 3671
3671 seconds is equal to:
1 hours, 1 minutes, and 11 seconds.

In [12]:

a = float(input("Enter the first number (a): "))
b = float(input("Enter the second number (b): "))
a = a + b
b = a - b
a = a - b
print("After swapping:")
print(f"First number (a): {a}")
print(f"Second number (b): {b}")

Enter the first number (a): 3
Enter the second number (b): 7
After swapping:
First number (a): 7.0
Second number (b): 3.0

In [13]:
n = int(input("Enter the value of n: "))
sum_of_numbers = n * (n + 1) // 2
print(f"The sum of the first {n} natural numbers is: {sum_of_numbers}")

Enter the value of n: 5
The sum of the first 5 natural numbers is: 15

In [14]:
print("A B  A&B  A|B  A^B")
print("-" * 20)
for A in [0, 1]:
    for B in [0, 1]:
        bitwise_and = A & B
        bitwise_or = A | B
        bitwise_xor = A ^ B
        print(f"{A} {B}   {bitwise_and}    {bitwise_or}    {bitwise_xor}")

A B  A&B  A|B  A^B
--------------------
0 0   0    0    0
0 1   0    1    1
1 0   0    1    1
1 1   1    1    0

In [15]:
number = int(input("Enter a number: "))
shift = int(input("Enter the number of bits to shift: "))
left_shift = number << shift
right_shift = number >> shift
print(f"The result of left shifting {number} by {shift} bits is: {left_shift}")
print(f"The result of right shifting {number} by {shift} bits is: {right_shift}")

Enter a number: 8
Enter the number of bits to shift: 2
The result of left shifting 8 by 2 bits is: 32
The result of right shifting 8 by 2 bits is: 2

In [17]:
sequence = (10, 20, 56, 78, 89)
number = int(input("Enter the number to check: "))
if number in sequence:
    print(f"{number} is in the sequence {sequence}.")
else:
    print(f"{number} is not in the sequence {sequence}.")

Enter the number to check: 12
12 is not in the sequence (10, 20, 56, 78, 89).

In [18]:
string = input("Enter a string: ")
char = input("Enter a character to check: ")
if char in string:
    print(f"'{char}' is in the string '{string}'.")
else:
    print(f"'{char}' is not in the string '{string}'.")

Enter a string: HELLO
Enter a character to check: z
'z' is not in the string 'HELLO'.