<a href="https://colab.research.google.com/github/DevBansal08/College-Python/blob/main/Experiment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello Everyone!!")

Hello Everyone!!!

In [ ]:
print("Hello")
print(" ")
print("World")

Hello

World

In [ ]:
print("Hello")
print(" ")
print("  World")

Hello

  World

In [ ]:
print(" Rohit’ s date of birth is 12-05-1999")

 Rohit’ s date of birth is 12-05-1999

In [ ]:
x= "Hello"
print(x)

Hello

In [ ]:
X = "abc" #String
y = 123 #interger
print(x)
print(y)

Hello
123

In [ ]:
a = "Divyanshi"
b = "Sagar"
Name = a + b
print(Name)

DivyanshiSagar

In [ ]:
name = "NIKUNJ BANSAL"
id = 500069944
dob = "13 Oct 1999"
address = "UPES,Bidholi Campus,Pincode : 24800"
pgm = "AI & ML"
sem = 2
print("NAME:", name ,"\n", "SAP ID:",id,"\n","DATE OF BIRTH:",dob,"\n","ADDRESS:",address,"\n","PROGRAMME:",pgm,"\n","SEMESTER",sem)

NAME: NIKUNJ BANSAL
 SAP ID: 500069944
 DATE OF BIRTH: 13 Oct 1999
 ADDRESS: UPES,Bidholi Campus,Pincode : 24800
 PROGRAMME: AI & ML
 SEMESTER 2